.DS_Store
.venv
__pycache__

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.vscode

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

.python-version
