beautifulsoup4
deepspeed
ebooklib
fuzzywuzzy
mutagen
newspaper3k
nltk
noisereduce
openai
openai-whisper
pedalboard
piper-tts
pydub
pysbd
python-Levenshtein
requests
torch
torchaudio
TTS
tqdm
unidecode
