beautifulsoup4
coqui-tts
deepspeed
ebooklib
edge-tts
fuzzywuzzy
kokoro
lxml
mutagen
newspaper3k
nltk
noisereduce
numpy
openai
openai-whisper
pedalboard
pillow
pydub
pysbd
python-Levenshtein
requests
soundfile
torch
torchaudio
tqdm
transformers==4.40.2
unidecode
