beautifulsoup4
deepspeed
ebooklib
edge-tts
fuzzywuzzy
lxml
mutagen
newspaper3k
nltk
noisereduce
openai
openai-whisper
pedalboard
pillow
pydub
pysbd
python-Levenshtein
requests
torch
torchaudio
tqdm
transformers==4.40.2
TTS
unidecode
